.about__section {
    text-align: center;
    background-color: #fff;
    padding: 12.5vh 0;
    .about_heading {
        width: 55%;
        margin: 0 auto;
        font-size: 3.5rem;
        font-weight: 800;
        line-height: 1.2;
        letter-spacing: -0.5px;
        color: rgb(15, 15, 15);
    }
    .about_heading-description {
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(135, 135, 135);
        margin: 1.25rem 0;
    }
    .abt-wrapper {
        width: 80%;
        margin: 12.5vh auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .abt-item {
            width: 30%;
            align-items: center;
            display: flex;
            flex-direction: column;
            .icon-wrapper {
                position: relative;
                width: 75px;
                height: 75px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #181818;
                border-radius: 50%;
            }
            .icon {
                color: #fff;
                font-size: 2.25rem;
                fill: url(#gradient);
            }
            h5 {
                font-size: 1.75rem;
                font-weight: 600;
                letter-spacing: -0.25px;
                margin: 1.25rem 0 0.75rem;
                text-wrap: nowrap;
            }
            p {
                color: rgb(135, 135, 135);
                font-size: 18px;
                line-height: 1.35;
                width: 85%;
                letter-spacing: -0.25px;
            }
        }
    }
    .steps_heading {
        width: 60%;
        font-size: 3.75rem;
        letter-spacing: -0.5px;
        font-weight: 800;
        line-height: 1.2;
        color: rgb(15, 15, 15);
        margin: 22.5vh auto 0;
    }
    .steps_heading-description {
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(125, 125, 125);
        margin: 1rem 0;
    }
    .steps-container {
        width: 95%;
        margin: 12.5vh auto 0;
        display: flex;
        user-select: none;
        justify-content: space-between;
        align-items: center;
        .steps-image {
            width: 55%;
            height: auto;
            object-fit: contain;
            filter: grayscale(57.5%);
        }
        .steps-wrapper {
            margin-left: 7.5%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 40%;
            .steps-item {
                width: 80%;
                display: flex;
                flex-direction: column;
                text-align: left;
                margin: 1.75rem 0;
                h5 {
                    font-size: 1.5rem;
                    font-weight: 800;
                    margin: 0.75rem 0;
                }
                p {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.35;
                    color: rgb(110, 110, 110);
                    letter-spacing: -0.25px;
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .about__section {
        .about_heading {
            width: 60%;
            font-size: 3.35rem;
            line-height: 3.9rem;
        }
        .abt-wrapper {
            width: 82.5%;
            .abt-item {
                width: 32%;
            }
        }
    }
}

@media screen and (max-width: 1285px) {
    .about__section .about_heading {
        width: 70%;
    }
    .about__section .steps_heading {
        width: 85%;
    }
}