.doctorsRecomendations__section {
    text-align: center;
    margin: 15vh auto;
    .doctorsRecomendations-heading {
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.45;
        letter-spacing: -0.5px;
        color: rgb(15, 15, 15);
    }
    .doctorsRecomendations-description {
        width: 37.5%;
        color: rgb(135, 135, 135);
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0.75rem auto 2rem;
        line-height: 1.4;
    }
    .recomendations-container {
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        flex-wrap: wrap;
        .doctor-recomendation {
            text-align: left;
            background-image: linear-gradient(to left bottom, #d4ffeb, #d8fff6, #e1fffd, #ecfeff, #f7fdff, #fafdff, #fdfeff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
            width: calc(92.5% / 3);
            height: auto;
            border-radius: 18px;
            padding: 0.5rem 2.25rem 2.5rem;
            margin-top: 2.5rem;
            border: 1px solid rgb(225, 225, 225);
            .recomendation-heading {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 1rem 0;
                .doctor-thumbnail {
                    border: 2px solid #81ffc4;
                    width: 62.5px;
                    height: 62.5px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: top;
                }
                .heading-text {
                    margin-left: 1rem;
                    .doctor-name {
                        font-size: 18px;
                        font-weight: 600;
                        color: #000;
                    }
                    .doctor-role {
                        color: rgb(115, 115, 115);
                    }
                }
            }
            .recomendation-text {
                font-size: 18px;
                font-weight: 500;
                line-height: 1.5;
                margin-top: 2.25rem;
                color: rgb(95, 95, 95);
                padding: 0 0.25rem;
            }
        }
    }
}

@media (max-width: 1450px) {
    .doctorsRecomendations__section .recomendations-container {
        width: 85%;
        .doctor-recomendation {
            width: calc(92.5% / 3);
        }
    }
}

@media screen and (max-width: 1370px) {
    .doctorsRecomendations__section .doctorsRecomendations-description {
        width: 50%;
    }
}