footer {
    text-align: center;
    margin: 7.5vh auto;
    .footer-heading {
        width: 45%;
        margin: 1.5rem auto 3.5rem;
        font-size: 4rem;
        letter-spacing: -1px;
        font-weight: 700;
        line-height: calc(1.4 * 4rem);
        color: rgb(15, 15, 15);
    }
    button {
        padding: 1.1rem 1.55rem;
        font-size: 17px;
        border: 1px solid transparent;
        outline: none;
        color: #fff;
        background-color: #000;
        border-radius: 50px;
        display: flex;
        align-items: center;
        margin: 3rem auto 0;
        user-select: none;
        cursor: pointer;
        transition: .2s ease-in-out;
        .arrow-icon {
            transition: .2s ease-in-out;
            margin-left: 0.75rem;
        }
        &:hover {
            transform: scale(1.025);
        }
    }
    .doctors {
        margin: 2rem auto;
        .doctors-thumbnails-wrapper {
            margin: 3.25rem 0 1.3rem;
            .doctor-thumbnail {
                object-fit: cover;
                object-position: top;
                border-radius: 50%;
                border: 1px solid rgb(200, 200, 200);
                width: 100px;
                height: 100px;
                user-select: none;
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    margin-left: -17.5px;
                }
            }
        }
        p {
            color: rgb(130, 130, 130);
            font-size: 1.15rem;
            font-weight: 500;
        }
    }
}