@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: rgb(212, 255, 235);
    background-image: linear-gradient(to right, #d4ffeb, #d8fff6, #e1fffd, #ecfeff, #f7fdff, #f7fdff, #f7fdff, #f7fdff, #ecfeff, #e1fffd, #d8fff6, #d4ffeb);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}