header {
    margin: 0 auto;
    user-select: none;
    nav {
        background-color: #fff;
        width: 62.5%;
        padding: 0.9rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 10000;
        left: 50%;
        top: 2.5%;
        transform: translateX(-50%);
        border-radius: 50px;
        box-shadow: 6px 6px 24px 0px rgb(168, 255, 216);
        background: rgba( 255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: .175s ease-in-out;
        &:hover {
            background: rgba( 255, 255, 255, 0.85);
            backdrop-filter: blur(12.5px);
            -webkit-backdrop-filter: blur(12.5px);
        }
        .header__logo {
            font-weight: 600;
            font-size: 1.6rem;
            letter-spacing: -0.5px;
        }
        ul {
            display: flex;
            li {
                color: #717171;
                font-weight: 500;
                font-size: 17px;
                padding: 0 1.2rem;
                cursor: pointer;
                transition: 0.125s ease;
                &:hover {
                    color: #2e2e2e;
                }
            }
        }
        .header__buttons-wrapper {
            .button-login {
                font-weight: 500;
                font-size: 1.05rem;
                background-color: transparent;
                outline: none;
                border: 1px solid transparent;
                cursor: pointer;
            }
            .button-join {
                margin-left: 1.5rem;
                padding: 0.4rem 0.7rem;
                font-size: 1.05rem;
                border: 1px solid transparent;
                outline: none;
                color: #fff;
                background-color: #000;
                border-radius: 50px;
                cursor: pointer;
                transition: .14s ease-in-out;
                &:hover {
                    background-color: #303030;
                }
            }
        }
    }
}