.introduction__section {
    text-align: center;
    margin-top: 25vh;
    h1 {
        font-size: 5.75rem;
        font-weight: 700;
        color: rgb(14, 14, 14);
        letter-spacing: -1.75px;
    }
    .introduction-description {
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(115, 115, 115);
        margin: 2rem auto;
        line-height: 1.35;
        width: 45%;
    }
    button {
        padding: 18px 2.25rem;
        font-size: 18px;
        font-weight: 500;
        border: 1px solid transparent;
        outline: none;
        color: #fff;
        background-color: #000;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 3rem auto 0;
        user-select: none;
        cursor: pointer;
        transition: .3s ease;
        .arrow-icon {
            margin-left: 1rem;
            transition: .3s ease;
        }
        &:hover {
            background-color: rgb(27, 27, 27);
            transform: scale(1.02);
            .arrow-icon {
                transform: translateX(0.25rem);
            }
        }
    }
    .doctors {
        margin: 2rem auto;
        .doctors-thumbnails-wrapper {
            margin: 3.25rem 0 1rem;
            .doctor-thumbnail {
                object-fit: cover;
                object-position: top;
                border-radius: 50%;
                border: 1px solid rgb(200, 200, 200);
                width: 125px;
                height: 125px;
                z-index: 5;
                position: relative;
                transform-origin: center;
                transition: .225s ease;
                &:hover {
                    transform: scale(1.075);
                    z-index: 100;
                }
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    margin-left: -16px;
                }
            }
        }
        p {
            color: rgb(125, 125, 125);
            font-size: 1.25rem;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .introduction-placeholder {
        margin: 2rem 0 1rem;
        width: 50%;
        filter: grayscale(100%);
    }
    .trustedHeader {
        color: rgb(125, 125, 125);
        font-size: 1.25rem;
        margin-top: 4.25rem;
        margin-bottom: 2.5rem;
    }
    .logos-container {
        display: flex;
        width: 75%;
        margin: 1.75rem auto 5rem;
        justify-content: space-between;
        align-items: center;
        .logo-thumbnail {
            width: calc(100% / 12);
            height: 100px;
            height: auto;
            object-fit: contain;
            user-select: none;
            filter: grayscale(100%);
            transition: .25s ease;
            &:hover {
                filter: grayscale(0%);
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .introduction__section {
        h1 {
            font-size: 5rem;
        }
        .introduction-description {
            font-size: 1.4rem;
        }
        .introduction-placeholder {
            width: 62.5%;
        }
    }
}