.pricing__section {
    text-align: center;
    text-align: center;
    padding: 12.5vh 0;
    background-color: #fff;
    .pricing-heading {
        font-size: 4rem;
        letter-spacing: -0.5px;
        font-weight: 600;
        line-height: calc(1.3 * 4rem);
        color: rgb(15, 15, 15);
    }
    .pricing_heading-description {
        width: 37.5%;
        color: rgb(145, 145, 145);
        font-size: 1.3rem;
        font-weight: 400;
        margin: 1.5rem auto;
        line-height: calc(1.5 * 1.3rem);
    }
    .subscriptions__container {
        width: 80%;
        margin: 10vh auto;
        display: flex;
        justify-content: space-between;
        text-align: left;
        .subscription-box {
            width: calc(90% / 4);
            border: 1px solid rgb(215, 215, 215);
            background-image: linear-gradient(to right bottom, #e6e6e6, #e9e9e9, #ebebeb, #eeeeee, #f1f1f1, #f1f1f1, #f1f1f1, #f1f1f1, #eeeeee, #ebebeb, #e9e9e9, #e6e6e6);
            border-radius: 25px;
            //! BORDER BOTTOM
            border-bottom: none;
            padding: 1.5rem 1.25rem;
            min-height: 60vh;
            .subsc-type {
                font-size: 1.3rem;
                font-weight: 500;
                letter-spacing: -0.4px;
            }
            .subsc-price {
                margin: 1.1rem 0 0.6rem;
                font-weight: 600;
                font-size: 1.9rem;
                letter-spacing: -0.3px;
                font-family: 'Open Sans', sans-serif;
                span {
                    font-weight: 400;
                    font-size: 1rem;
                    color: rgb(135, 135, 135);
                }
            }
            .subsc-description {
                color: rgb(110, 110, 110);
                font-weight: 400;
                font-size: 18px;
            }
            button {
                background-color: #fff;
                font-size: 16px;
                font-weight: 500;
                border: none;
                padding: 18px 1.5rem;
                margin: 1.5rem auto;
                width: 80%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                outline: none;
                box-shadow: rgb(0, 0, 0) 0px 5px 18px -10px;
                user-select: none;
                cursor: pointer;
                transition: .18s ease-in-out;
                &:hover {
                    background-color: #cbffe7;
                    border-color: #000;
                }
                &.highlighted-button {
                    border-color: #000;
                    background-color: #000;
                    color: #fff;
                    &:hover {
                        background-color: #1d1d1d;
                    }
                }
            }
            .list {
                border-top: 1px solid rgb(175, 175, 175);
                padding-top: 1.5rem;
                margin: 2.5rem auto;
                font-size: 1.1rem;
                color: rgb(110, 110, 110);
                li {
                    display: flex;
                    align-items: center;
                    margin-top: 0.175rem;
                    line-height: calc(1.5 * 1.15rem);
                    .icon {
                        color: #000;
                        margin-right: 0.55rem;
                    }
                }
            }
            &:nth-of-type(2) {
                background-image: linear-gradient(to right bottom, #d4ffeb, #d8fff6, #e1fffd, #ecfeff, #f7fdff, #f7fdff, #f7fdff, #f7fdff, #ecfeff, #e1fffd, #d8fff6, #d4ffeb);
            }
        }
    }
}

@media (max-width: 1450px) {
    .pricing__section .subscriptions__container {
        width: 85%;
        .subscription-box {
            width: 24%;
        }
    }
}