.pricing__section {
    text-align: center;
    text-align: center;
    .pricing-heading {
        margin: 10vh auto 0;
        font-size: 3.8rem;
        letter-spacing: -0.5px;
        font-weight: 600;
        line-height: calc(1.45 * 3rem);
        color: rgb(15, 15, 15);
    }
    .pricing_heading-description {
        width: 40%;
        color: rgb(150, 150, 150);
        font-size: 1.275rem;
        font-weight: 500;
        margin: 1.5rem auto;
        line-height: calc(1.5 * 1.3rem);
    }
}