.tiles__section {
    width: 85%;
    margin: 10vh auto;
    text-align: center;
    padding: 2.5vh 0 5vh;
    .tiles_heading {
        font-size: 4.5rem;
        font-weight: 800;
        line-height: 1.4;
        letter-spacing: -0.5px;
        margin: 0 auto;
        color: rgb(15, 15, 15);
    }
    .tiles_heading-description {
        color: rgb(135, 135, 135);
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0.5rem auto;
    }
    .tiles__container {
        margin-top: 7.5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        aside {
            width: 30%;
            display: flex;
            align-items: center;
            flex-direction: column;
            .tile {
                width: 100%;
                margin: 1rem 0;
            }
        }
        .tile {
            overflow: hidden;
            background-color: #fff;
            width: calc(100% / 3);
            border-radius: 18px;
            height: auto;
            padding: 5vh 0;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.325);
            &.coloured {
                background-image: linear-gradient(to right, #ecffb7, #ccffca, #b4fede, #a8f9f0, #aaf2fc, #aff1fd, #b4f0fd, #b9effd, #bcf4f9, #c1f8f5, #c9fcf0, #d4ffeb);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h5 {
                    font-size: 2.5rem;
                    font-weight: 800;
                    text-align: center;
                    margin: 0 0 1.25rem;
                }
                p {
                    font-size: 1.25rem;
                    font-weight: 500;
                    letter-spacing: -0.25px;
                    width: 80%;
                    color: rgb(45, 45, 45);
                    text-align: center;
                }
            }
            h5 {
                width: 92.5%;
                margin: 2rem auto 0.5rem;
                text-align: left;
                font-weight: 700;
                font-size: 1.5rem;
                letter-spacing: -0.5px;
            }
            p {
                font-size: 1.25rem;
                color: rgb(125, 125, 125);
                width: 92.5%;
                margin: 0 auto;
                text-align: left;
            }
            .padlock-icon {
                font-size: 6rem;
                color: rgb(15, 15, 15);
            }
            .tile-image {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                width: 85%;
                &.invert {
                    filter: invert(1);
                }
            }
        }
        .center-tile {
            height: 65vh;
            img {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                height: 65%;
                width: 92.5%;
                object-fit: cover;
                filter: grayscale(100%);
                margin-top: 1rem;
                border-radius: 12px;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .tiles__section {
        width: 85%;
        .tiles__container {
            aside .tile {
                width: 97.5%;
                h5,
                p {
                    text-align: center;
                }
            }
            .center-tile {
                height: 70vh;
                img {
                    margin-top: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1370px) {
    .tiles__section {
        width: 90%;
        .tiles__container {
            .center-tile {
                height: 77.5vh;
            }
        }
    }
}